.edit-overlay {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px) saturate(180%);

    z-index: 2;

    position: absolute;
}

.edit-overlay-hide {
    display: none;
}

.edit-popup {
    display: block;
    width: 50vw;
    height: 30vh;

    padding-top: 5rem;

    background-color: var(--background-color);

    text-align: center;

    border: 3px solid hsl(var(--foreground-color-hsl) / .5);
    border-radius: var(--border-radius);
}

.edit-text-input {
    display: inline-block;
}

.edit-card-info {
    width: 100%;
    height: 5rem;

    margin-bottom: 2rem;

    display: flex;

    flex-flow: row wrap;

    justify-content: center;
    align-items: center;
}

.edit-file-input {
    display: block;

    width: 5rem;
    height: 5rem;

    margin-right: 1rem;

    background-size: cover;
    background-position: center;
}

.edit-card-img {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.edit-file-input {
    width: 5rem;
    height: 5rem;
}

.edit-img-btn {
    display: inline-block;

    width: 5rem;
    height: 5rem;

    background-size: 5rem 5rem;
    background-repeat: no-repeat;
    background-color: none;
    background-clip: content-box;

    border: 3px solid hsl(var(--foreground-color-hsl) / .5);
    border-radius: var(--border-radius);
    box-shadow: 0px 15px 25px -4px rgba(30,30,60,0.25);

    cursor: pointer;
    
    color: hsl(var(--foreground-color-hsl) / .5);
    text-decoration: none;

    transition: color .25s ease-in-out,
                border-color .25s ease-in-out,
                background-color .25s ease-in-out;
}

.edit-img-btn:hover {
    color: var(--validate-color);
    border-color: var(--validate-color);
    background-color: hsl(var(--validate-color-hsl) / .1);
}

.edit-img-btn::before {
    content: "+";

    text-align: center;
    line-height: 5rem;

    font-size: 2rem;
}

.edit-text-input {
    width: 70%;
    height: 100%;
}

.edit-card-text {
    width: 100%;
    height: 50%;

    margin: 0;
    padding: 0;

    padding-left: 10px;

    background: none;

    border: none;

    font-family: var(--font);
    color: hsl(var(--foreground-color-hsl) / .5);
}

.edit-card-text:focus {
    border-color: transparent;
    outline: 3px solid hsl(var(--foreground-color-hsl));
}

.edit-card-name {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    border: 3px solid hsl(var(--foreground-color-hsl) / .5);
    border-bottom: none;
}

.edit-card-link {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    border: 3px solid hsl(var(--foreground-color-hsl) / .5);
    border-top: none;
}

.edit-card-btn {
    height: 3rem;

    cursor: pointer;

    background: none;

    color: hsl(var(--foreground-color-hsl) / .5);

    font-size: 1rem;
    font-family: var(--font);
    font-weight: bold;

    border: 3px solid hsl(var(--foreground-color-hsl) / .5);
    border-radius: var(--border-radius);

    transition: border-color .25s ease-in-out, 
                color .25s ease-in-out,
                background-color .25s ease-in-out;
}

.edit-card-btn:disabled {
    color: hsl(var(--foreground-color-hsl) / .2);
    border-color: hsl(var(--foreground-color-hsl) / .2);

    cursor: default;
}

.edit-card-cancel {
    width: 20%;

    margin-top: 1rem;
}

.edit-card-cancel:hover:enabled {
    color: var(--cancel-color);
    background-color: hsl(var(--cancel-color-hsl) / .1);
    border-color: var(--cancel-color);
}

.edit-card-save {
    width: 40%;
}

.edit-card-save:hover:enabled {
    color: var(--validate-color);
    background-color: hsl(var(--validate-color-hsl) / .1);
    border-color: var(--validate-color);
}

.edit-card-delete {
    width: 20%;

    margin-right: 5rem;
}

.edit-card-delete:hover:enabled {
    color: var(--cancel-color);
    background-color: hsl(var(--cancel-color-hsl) / .1);
    border-color: var(--cancel-color);
}
