html, body {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: var(--background-color);

    transition: background-color 0.2s ease-in-out;
}

.flex-container {
    display: flex;

    flex-flow: row wrap;

    justify-content: center;
    align-items: center;
}

.page-container {
    width: 100%;
    height: 100%;
}

.cards-container {
    width: 50vw;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2em;
    column-gap: 1em;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;

    z-index: 1;
}

.display-none {
    display: none !important;
}

.error-overlay {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: absolute;

    z-index: 99;

    background-color: var(--background-color);

    transition: background-color .2s ease-in-out;
}

.error-popup {
    display: flex;
    width: 50vw;
    height: 30vh;

    /* padding-top: 5rem; */
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);

    border: 5px solid var(--cancel-color);
    border-radius: var(--border-radius);

    transition: background-color .2s ease-in-out;
}

.error-msg {
    font-size: 3rem;
    font-family: var(--font);

    color: var(--foreground-color);

    transition: color .2s ease-in-out;
}

.card {
    text-align: center;
    height: 25%;
}

.card > .logo {
    display: block;

    width: 5rem;
    height: 5rem;
    
    background-size: 5rem 5rem;

    background-color: hsl(var(--foreground-color-hsl) / .1);

    border-radius: var(--border-radius);
    box-shadow: 0px 15px 25px -4px hsl(var(--true-black-hsl) / .2);

    margin-bottom: 0.5rem;

    cursor: pointer;

    text-decoration: none;

    transition: background-color .2s ease-in-out;
}

.card > .logo::before {
    content: var(--single-letter-content);

    color: hsl(var(--foreground-color-hsl) / .8);

    text-align: center;
    line-height: 5rem;

    font-family: var(--font);
    font-size: 2rem;

    transition: color .2s ease-in-out;
}

.card > .logo:focus {
    outline: solid 2px var(--foreground-color);
}

.card > span {
    width: 100%;
    height: 15%;

    color: var(--foreground-color);

    font-family: var(--font);
    font-size: 1.1rem;
}

.clickable-label {
    text-decoration: none;
    color: inherit;

    cursor: pointer;

    transition: color .2s ease-in-out;
}

.clickable-label:focus {
    outline: solid 2px var(--foreground-color);
}

@media only screen and (max-width: 45em) {
    .cards-container {
        width: 90vw;
    }

    .card > .logo {
        width: 3.2rem;
        height: 3.2rem;
        background-size: 3.2rem 3.2rem;
    }

    .card > .logo::before {
        line-height: 3.2rem;
        font-size: 2rem;
    }

    .card > span {
        font-size: 0.8rem;
    }
}
