.options {
    position: fixed;

    bottom: 1rem;
    right: 1.5rem;

    font-size: 2rem;
    font-family: var(--font);

    line-height: 3rem;
}

.options-container {
    width: 1.5rem;
    text-align: center;
}

.option {
    cursor: pointer;
    text-decoration: none;
}

.option-edit {
    color: var(--cancel-color);
}

.option-edit:active {
    color: var(--cancel-color);
}
