@font-face {
    font-family: "IBM Plex";
    src: url("../fonts/IBMPlexSans-Regular.otf");
}

:root {
    /* Colors definition */

    --white-hsl: 0 0% 95%;
    --white: hsl(var(--white-hsl));

    --true-black-hsl: 0 0% 0%;
    --true-black: hsl(var(--true-black-hsl));
    --light-black-hsl: 0 0% 11%;
    --light-black: hsl(var(--black-hsl));

    --black: var(--light-black);
    --black-hsl: var(--light-black-hsl);

    --orange-hsl: 30 100% 50%;
    --orange: hsl(var(--orange));
    --green-hsl: 150.1 100% 50%;
    --green: hsl(var(--green-hsl));
    --pink-hsl: 330.1 100% 50%;
    --pink: hsl(var(--pink-hsl));

    --accent-color: var(--orange);
    --accent-color-hsl: var(--orange-hsl);
    --validate-color: var(--green);
    --validate-color-hsl: var(--green-hsl);
    --cancel-color: var(--pink);
    --cancel-color-hsl: var(--pink-hsl);

    /* Others */

    --single-letter-content: "";
    --border-radius: .5rem;
    --font: "IBM Plex";
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--black);
        --background-color-hsl: var(--black-hsl);
        --foreground-color: var(--white);
        --foreground-color-hsl: var(--white-hsl);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--white);
        --background-color-hsl: var(--white-hsl);
        --foreground-color: var(--black);
        --foreground-color-hsl: var(--black-hsl);
    }
}
